@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9zoymM5Ez.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

h1 {
    
    font-family:  Arial, Helvetica, sans-serif;
}

#name {
    width: 500px;
}
#form {
    border: solid;
    margin: auto;
    display: inline-block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    width: 400px;
    border: solid 2px;
    margin-top: 10px;
}
td, th {
    padding: 7px 10px 10px 10px;
}
#submit {
    float: right;
    margin: 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
}

.odd {
    background-color: aquamarine;
}

.even {
    background-color: beige;
}